/* IMPORT FONTS HERE */

/* ELEMENTS */
button {
    cursor: pointer;
}
body {
    transition: all 0.5s;
}
li {
    text-decoration: none;
    list-style-type: none;
    margin-left: -35px;
}

/* LAYOUT */
#explorer {
    display: flex;
    /* Something */
}

/* ID */
#WH {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#react {
    position: fixed;
    left: 50px;
    top: 100px;
}

/* CLASS */
.project-browser {
    display: grid;
    background-color: #d0cccc;
}
.window-header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 5px 5px;
    min-width: 200px;
    width: 225px;
    border: 4px solid #d0cccc;
    background: -moz-linear-gradient(left, #074bb6, #2c7ccb);
    background-image: linear-gradient(to right, #074bb6, #2c7ccb);
}
.window-name {
    color: #FFFFFF;
}
.window-function {
    margin: 0 2px;
}
.file-header {
    padding-top: 4px;
    padding-right: 16px;
    padding-left: 16px;
}
.file-name {
    width: 105px;
}
.file-window {
    background-color: #FFFFFF;
    height: 125px;
    padding: 5px 5px;
    border: 8px solid #d0cccc;
}
.projects {
    margin-top: 0;
}
.spec-window {
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
}
.project-spec {
    width: 90px;
}
.logo-btn {
    background-color: #292929;
    color: #FFFFFF;

    min-width: 75px;
    min-height: 75px;
    border: none;
    border-radius: 50%;;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 221, 221);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #212121;
}
input:checked + .slider:before {
    background-color: #424242;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* DESKTOP */
@media screen and ( min-width : 800px ) {
    .logo-btn {
        min-width: 250px;
        min-height: 250px;
        border-radius: 50%;
    }
}